{% extends 'userpanel/user_base.html' %}
{% load static %}
{% block content %}

<!-- <div class="container mt-5">
    <h2>Add a Comment</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Add Comment</button>
            <a href="{% url 'viewblog' blog.id %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div> -->
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span>POST YOUR COMMENT HERE</h4>

    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
      <!-- Basic Layout -->
      <div class="col-xxl">
        <div class="card mb-4">
          <div class="card-header d-flex align-items-center justify-content-between">
            <!-- <h5 class="mb-0">Basic Layout</h5>
            <small class="text-muted float-end">Default label</small> -->
          </div>
          <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
              
            <div class="row justify-content-end">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">POST COMMENT</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

{% endblock %}