{% extends 'userpanel/user_base.html' %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
       <h5 class="card-title text-primary">Welcome {{ user.username }}!</h5>
    {% else %}
        <h5 class="card-title text-primary">Welcome Guest!</h5>
    {% endif %}
               <div class="container mt-5">
                   <div class="row">
                      <!-- Card for Blog List -->
                      <div class="col-md-6">
                          <div class="card shadow-sm">
                              <div class="card-body text-center">
                                  <h5 class="card-title">Blog List</h5>
                                  <p class="card-text">Manage all blog posts here.</p>
                                  <a href="{% url 'fullbloglist' %}" class="btn btn-primary">Go to Blog List</a>
                              </div>
                          </div>
                      </div>
                      
                      <!-- Card for User List -->
                      <div class="col-md-6">
                          <div class="card shadow-sm">
                              <div class="card-body text-center">
                                  <h5 class="card-title">My Blogs</h5>
                                  <p class="card-text">View your blogs here.</p>
                                  <a href="{% url 'myblogs' %}" class="btn btn-primary">Go to My Blogs</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
{% endblock %}